/* Try different box model properties below */
.pages__page {
  border: 1px solid #083157;
  border-radius: 3px;
  background: rgb(143, 50, 50);
  height: 450px;
}
.countries {
  border: 1px solid white;
  background-color: rgb(177, 172, 172);
  width: 250px;
  height: 200px;
}
.country {
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  background-color: seashell;
}
