/* Try different box model properties below */
div.site-header > p {
  color: white;
  margin-bottom: 0.25rem;
}
.site-header {
  line-height: 0.5rem;
}
div.site-footer > p {
  font-size: 12px;
  text-align: center;
}
div.message--unread:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
